<div id="answer" >
<% if !@answers.empty?%>
<% @answers.each do |ans| %>
<%= ans.description%> <br />
<% end %>
<%end%>
	<%= form_for @answer, :url => { :action => "answer_create", :controller => "questions"}, remote: true do |answer| %>
		<table>
			<tr>
				<td>Description:</td>
				<td><%= answer.text_area :description %></td>
			</tr>
			<tr>
				<td><%= answer.hidden_field :user_id, value: current_user.id %></td>
				<td><%= answer.hidden_field :question_id, value: @question.id %></td>
			</tr>
		</table>
	<%= answer.submit %>
	<% end %>
</div>