<h1>Questions</h1>
<table border="1" width="100%">
	<tr>
		<td>Title</td>
		<td>Team</td>
		<td>Actions</td>
	</tr>
	<% @questions.each do |question| %>
		<tr>
		  <td><%= link_to question.title, question %></td>
		  <td><%= question.team.name %></td>
		  <td><%= link_to "Edit", edit_question_path(question) %>
		      <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'New', new_question_path %>