<h1>Question</h1>
<table>
	<tr>
		<td>Title:</td>
		<td><%= @question.title %></td>
	</tr>

	<tr>
		<td>Description:</td>
		<td><%= raw(@question.description) %></td>
	</tr>

	<tr>
		<td>Team:</td>
		<td><%= @question.team.name %></td>
	</tr>
</table>
<%= link_to 'Edit', edit_question_path(@question.id) %>
<%= link_to 'Questions', questions_path %>
<%= link_to 'Comment', question_comments_path( @question.id) %>
<h4> Your Answer </h4>
<%= render 'answer' %>
