<%= render "layouts/header" %>
<div class="content-area">
  <div class="col-xs-12 col-sm-12">
    <div class="container">
      <div class="col-xs-12 col-sm-10 p-l-0">
        <h3 class="heading m-t-0">Recently posted questions</h3>
        <% @teams.each do |team| %>
            <div class="panel panel-default first-set-panel">
              <div class="panel-heading">
                <h3 class="panel-title"><%= team.name %></h3>
                <a class="all-posts" href="<%= questions_path(team) %>">All posts</a>
              </div>
              <ul class="list-group">
                <% team.questions.order("id desc").limit(3).each do |team_questions| %>
                    <li class="list-group-item">
                      <h4 class="controlled-text"><%= team_questions.title %></h4>
                      <div class="description controlled-text"><%= raw(team_questions.description) %></div>
                      <div class="posted-user-info">
                        <div>Posted by <span class="post-user"><%= team_questions.user.name %></span> before <span class="post-time"> 1 day.</span>
                          <a class="pull-right" href="<%= question_path(team_questions.id) %>">Read more</a>
                        </div>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-2 p-r-0">
        <div class="list-group m-t-35">
          <a href="<%= new_question_path %>" class="list-group-item">Post Question</a>
          <a href="<%= questions_path %>" class="list-group-item">View Questions</a>
          <a href="#" class="list-group-item">Post Session</a>
          <a href="#" class="list-group-item">View Sessions</a>
          <% if current_user.email == "admin@carmatec.com"%>
          <a href="<%= new_team_path %>" class="list-group-item">Create Teams</a>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>
